.contact-us-banner{
    background: url("../images/contact/contact-bg-banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: block;
    padding-top: 220px;
    padding-bottom: 120px;
    background-attachment: fixed;
}

.contact-us .contact{
    background: transparent!important;
}
.contact-us .contact .contact-form-bg{
    background: transparent!important;
}
.contact-us .contact .icon-bg{
    background-color: #53341F;
}
.tel-num{
    color: #53341F!important;
    opacity: 1!important;
}